input[type="text"] {
  display: block;
}
input[type="button"] {
  display: block;
  margin-top: 10px;
  padding: 5px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textBoxButton {
  display: block;
}

.users {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
