body {
  font-family: "Open Sans", sans-serif;
  background-color: #f9fbfd;
}

* {
  box-sizing: border-box;
}

body,
h1,
h2 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li {
  text-transform: capitalize;
}

.displayProducts {
  padding: 2rem;
}
