.main {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 0.25rem;
}

.inputAndSelect {
  width: 10rem;
  height: 2rem;
}
.btn {
  width: 5rem;
  height: 2.5rem;
  background-color: yellowgreen;
  color: brown;
  border-radius: 5px;
  border: none;
}
